*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid article{
    height: 380px;
    width: 100%;
    max-width: 280px; 
    padding-bottom: 10px;
    border-radius: 22px;
    margin: 6px;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.2s ease,box-shadow 0.2s ease;
}

.container-fluid article img{
    height: 200px;
    width: 100%;
    display: block;
    border-radius: 20px;
    margin-bottom: 15px;
    object-fit: cover;
}
.container-fluid article:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.30);
}
.container-fluid article button{
    width: 80%;
    border-radius: 20px;
    padding: 6px;
    display: block;
    margin-left: 20px ;
}
.container-fluid article h1{
    font-size: 15px;
    line-height:1;
    padding-left:0 10px;
    margin: 18px;
}

